.nav ul {
  height: 57rem;
  width: 27.4rem;
  padding: 3rem 0 0 3rem;
  position: relative;
  z-index: 1;
}
.nav ul::after {
  content: "";
  position: absolute;
  background: url("/assets/images/bg-sidebar-desktop.svg") no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-position: bottom;
  background-size: cover;
}
.nav span {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px var(--neutral-blue--1) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--below-average-text);
  border-radius: 50%;
  color: white;
  transition: 0.3s;
  font-weight: bold;
}
.selected {
  border-color: var(--primary-blue--3);
  background-color: var(--primary-blue--3);
  color: var(--primary-blue--1) !important;
}

.nav li h5 {
  font-size: var(--below-average-text);
  color: var(--primary-blue--2);
  font-weight: 500;
}
.nav li h1 {
  color: white;
  font-size: var(--below-average-text);
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.nav a:global(.active) span {
  background-color: var(--neutral-blue--1);
  color: var(--primary-blue--1);
}
@media (max-width: 676px) {
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .nav ul {
    display: flex;
    width: 100%;
    height: 20rem;
    gap: 1rem;
    justify-content: center;
    padding: 3rem;
    overflow: hidden;
  }
  .nav ul::after {
    height: 500px;
    bottom: -45px;
  }
  .nav ul h5,
  .nav ul h1 {
    display: none;
  }
}
