.main {
  background-color: var(--neutral-blue--1);
  padding: 10rem 2rem;
  position: relative;
}

.container {
  display: flex;
  padding: 2rem;
  max-width: 100rem;
  background-color: white;
  margin: 0 auto;
  border-radius: 2%;
  justify-content: space-between;
}
@media (max-width: 676px) {
  .main {
    height: 100vh;
    padding: 0;
  }
  .container {
    background-color: #0000;
  }
}
